@import url('https://fonts.googleapis.com/css2?family=Asap:wght@100..900&display=swap');

:root {
  --chart-angle: 180deg;
  --chart-size: 20rem;
  --color-accent: #283b5b;
  --color-black: #505458;
  --color-light: #f0f3f6;
  --color-neutral: #e0e4e8;
  --color-white: #f4f6ff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body,
#root {
  min-height: 100vh;
  width: 100%;
}

html {
  background: var(--color-light);
  color: var(--color-black);
  font: normal 16px sans-serif;
}

body,
#root {
  background: none;
  color: inherit;
  align-items: center;
  display: flex;
  font-family: 'Asap', sans-serif;
  font-size: 1rem;
  justify-content: center;
  line-height: 1.5;
}

a {
  color: var(--color-accent);
  cursor: pointer;
  font: inherit;
  font-weight: 500;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--color-accent);
  font-family: inherit;
  font-weight: 500;
  line-height: 1.25;
}

h1 { font-size: 3rem; }
h2 { font-size: 2.25rem; }
